#askQuestionTitle{
    position: relative;
    top:3%;
    left:10%;
}
.main-content {
    background-color: #fefefe;
    margin: 5% auto 15% 7.5%; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height:75%;
    border-radius: 10px;
    position: relative;
}
.formContainer{
    height: 100%;
    width: 100%;
    position: absolute;
}
textarea{
    resize: none;
    
    font-family: inherit;
   font-size: inherit;
}
.container p{
    font-size: 0.8rem;
}
.formA{
    text-decoration: none;
    color:white;
}
