#askQuestionTitle{
    position: relative;
    top:15%;
    left:15%;
}
.main-content {
    background-color: #fefefe;
    margin: 5% auto 15% 7.5%; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height:70%;
    border-radius: 10px;
    position: relative;
}
.container{
    height: 100%;
    width: 100%;
    position: absolute;
}
textarea{
    resize: none;
    height: 250px;
    font-family: inherit;
   font-size: inherit;
}
.container p{
    font-size: 0.8rem;
}
a{
    text-decoration: none;
    color:white;
}
